<footer class="d-flex align-items-center bg-dark text-white-50" style="flex-shrink: 0;">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <a class="img-container d-flex justify-content-center align-items-center"
         href="https://angular.io/">
        <img src="../../../assets/images/angular-logo.png" alt="bootstrap">
      </a>
      <a class="img-container d-flex justify-content-center align-items-center"
         href="https://getbootstrap.com/">
        <img src="../../../assets/images/bootstrap-logo.png" alt="bootstrap">
      </a>
      <a class="img-container d-flex justify-content-center align-items-center"
         href="https://www.chartjs.org/">
        <img src="../../../assets/images/chart.js-logo.png" alt="chart.js">
      </a>
      <a class="img-container d-flex justify-content-center align-items-center"
         href="https://angular-slider.github.io/ng5-slider/">
        <img src="../../../assets/images/ng5-slider-logo.png" alt="ng5-slider">
      </a>
    </div>
  </div>
</footer>
