<header>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1 amsterdam-font">
    <div class="w-100 text-center">
      <span class="antara-distance-font text-white title">Sorting demo</span>
    </div>
  </nav>
</header>
<main role="main" class="container">
</main>
<footer class="footer d-flex align-items-center bg-dark text-white-50" style="flex-shrink: 0;">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="img-container d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/angular-logo.png" alt="bootstrap">
      </div>
      <div class="img-container d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/bootstrap-logo.png" alt="bootstrap">
      </div>
      <div class="img-container d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/chart.js-logo.png" alt="chart.js">
      </div>
    </div>
  </div>
</footer>
