@font-face {
  font-family: AntaraDistance;
  src: url(../../../assets/fonts/AAntaraDistance.ttf) format('truetype');
}

.antara-distance-font {
  font-family: AntaraDistance, sans-serif;
}

.title {
  font-size: 2.5rem;
}
